
/* Имя файла: students.css */

/*
Чтобы связать xml документ с данным файлом стилей надо:
	- разместить этот файл в одной директории с xml файлом;
	- добавить в пролог xml файла следующую строку:
	<?xml-stylesheet type="text/css" href="students.css"?>
*/

title[FontStyle=underline]{
	text-decoration: underline;
}

title[FontStyle=bold]{
	font-weight: bold;
}

title[FontStyle=italic]{
	font-style: italic;
}

title[FontStyle=normal]{
	font-style: normal;
}


title[FontFamily=TimesNewRoman]{
	font-family: 'Times New Roman';
}

title[FontFamily=Arial]{
	font-family: Arial;
}


pos{
	font-size: 10px;
}

pos[Place=top]{
	vertical-align: text-top;
	color: blue;
}

pos[Place=bottom]{
	vertical-align: text-bottom;
	color: green;
}


students{
	margin: 12pt;
	border-color: #000;
}

students[Border=solid]{
	border-style: solid;
}

students[Border=double]{
	border-style: double;
}

students[Border=dashed]{
	border-style: dashed;
}

student{
	display: block;
	font-size: 10pt;
}

birthDate{
	font-style: italic;
}

adres{
	font-weight: bold;
}