
/* Имя файла: students.css */

/* 
Чтобы связать xml документ с данным файлом стилей надо:
	- разместить этот файл в одной директории с xml файлом;
	- добавить в пролог xml файла следующую строку:
	<?xml-stylesheet type="text/css" href="students.css"?>
*/

students{
	margin-top: 12pt;
}

student{
	display: block;
	font-size: 10pt;
}

birthDate{
	font-style: italic;
}

adres{
	font-weight: bold;
}